.infoBar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #7e57c2; /* Medium purple */
  border-radius: 4px 4px 0 0;
  height: 60px;
  width: 100%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: background 0.3s ease;
}

.infoBar:hover {
  background: #5e35b1; /* Darker purple on hover */
}

.leftInnerContainer {
  flex: 0.5;
  display: flex;
  align-items: center;
  margin-left: 5%;
  color: white;
}

.rightInnerContainer {
  display: flex;
  flex: 0.5;
  justify-content: flex-end;
  margin-right: 5%;
}

.onlineIcon {
  margin-right: 5%;
  animation: pulse 1.5s infinite;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
